.header-container{
  display:flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding: 20px 0px;
  background:white;
  .inner-container{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width:60%;
  }
}